.menu{
    width: 100%;
    padding: 28px 8%;
    top: 0;
    background: linear-gradient(180deg, var(--color-primary-5), rgba(255, 255, 255, 0));
    position: sticky;
    z-index: 3;
}
.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 48px;
}
.nav-link{
    font-size: 1.0rem;
    text-decoration: none;
    color: var(--color-primary-1);
    font-weight: 600;
    transition: text-shadow 0.3s ease;
}
.nav-link:hover{
    color: var(--color-primary-4);
    text-shadow: 0px 3px 10px rgba(177, 157, 255, 0.967);
}