.menu{
    width: 100%;
    padding: 28px 8%;
    top: 0;
    background: linear-gradient(180deg, var(--color-primary-5), rgba(255, 255, 255, 0));
    position: sticky;
    z-index: 3;
}
.nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-portifolio{
    font-size: 1.9rem;
    color: var(--color-primary-2);
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 48px;
}
.nav-link{
    text-decoration: none;
    color: var(--color-primary-3);
    font-weight: 600;
}
.nav-link:hover{
    color: var(--color-primary-2);
}